name: build and release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate release tag
        env:
          TZ: "Asia/Tokyo"
        run: |
          echo "nowDATE=$(date +'%Y-%m-%d_%H:%M:%S')" >> $GITHUB_ENV

      - uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci

      - name: Get version from package.json
        run: echo "VERSION=v$(jq -r .version < package.json)" >> $GITHUB_ENV

      - name: Get version for Firefox
        run: echo "VERSION_FIREFOX=v$(jq -r .version < package.json)-firefox" >> $GITHUB_ENV

      - name: Build for Chrome
        run: npm run build

      - name: Zip Chrome output
        run: zip -r copylink-dev_${{ env.VERSION }}.zip dist

      - name: Build for Firefox
        run: npm run build-firefox

      - name: Zip Firefox output
        run: |
          cd dist
          zip -r ../copylink-dev_${{ env.VERSION_FIREFOX }}.zip ./*

      - name: Create GitHub Release (and upload assets)
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          draft: false
          prerelease: false
          files: |
            ./copylink-dev_${{ env.VERSION }}.zip
            ./copylink-dev_${{ env.VERSION_FIREFOX }}.zip
